body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #151515;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.6s ease;
    border-radius: 10px;
}

a:hover {
    color: #6aaa64;
    font-size: 35px;
}

hr {
    width: 80%;
}

#title {
    font-size: 36px;
    font-style: bold;
    letter-spacing: 2px;
}


#board {
    width: 350px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    animation-name: fade;
    animation-duration: 2s;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    border: solid 2px #424242;
}

#keyboard {
    width: 450px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

#nala {
    display: none;
    width: 100%;
    animation-name: cat;
    animation-duration: 3.5s;
}

/* Letter tiles */
.tile {
    border: 2px solid lightgrey;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    animation-name: fade;
    animation-duration: 2s;
}

/* Resultant tile from input */

.present {
    background-color: #c9b458;
    color: white;
    border-color: white;
    animation-name: enter;
    animation-duration: 2s;
}

.absent {
    background-color: #424242;
    color: white;
    border-color: white;
    animation-name: enter;
    animation-duration: 1.25s;
}

.correct {
    background-color: #6aaa64;
    color: white;
    border-color: white;
    animation-name: enter;
    animation-duration: 2s;
}

@keyframes enter {
    from {transform: rotateY(90deg);}
}

@keyframes cat {
    from {width: 0}
    to {width: 100%}
}